@use '../util';

html{
    box-sizing: border-box;
    font-size: 100%;
}


*::before,::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family:util.$font;
    color: var(--text-color);
    background-color: var(--background-color);
}
.login-box {
    @extend .position-absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  
    .user-box {
      position: relative;
  
      input {
        @extend .w-100;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
  
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
  
      input:focus ~ label,
      input:valid ~ label {
        top: -20px;
        left: 0;
        color: #bdb8b8;
        font-size: 12px;
      }
    }
  
    form a {
      @extend .position-relative;
      @extend .d-inline-block;
      padding: 10px 20px;
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px;
  
      &:hover {
        background: #03f40f;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f, 0 0 100px #03f40f;
      }
  
      span {
        @extend .position-absolute;
        display: block;
      }
    }
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%, 100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }
  