@use '../util';

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap:40px;
  //  max-width: 1000px;
    width: min(100% - 40,1000px );
   margin-inline: auto;
   

       @include util.breakpoint(large){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        

    }


    &__main, &__sidebar {
        padding: 40px;
    };

    &__main{
        background-color: hsl(240, 99%, 33%);


    }
    &__sidebar{
        background-color: hsl(300, 100%, 30%);

        @media(max-width:56.25){
            text-align: center;
        }

    }
}